<h1> <%= @event.title %> </h1>

      <p>
        <strong>Severity:</strong>
        <%= @event.severity %>
      </p>

      <p>
        <strong>Description</strong>
        <%= @event.description %>
      </p>

    
